<div class="cont">
    <div class="cont2">
        <h1 class="admin-h1">Admin Home</h1>

        <div class="loginBox">
            <label for="adminName">Admin Name</label>
            <input class="loginInput" type="text" name="adminName" id=""><br>
            <label for="adminPassword">Admin Password</label>
            <input class="loginInput" type="email" name="adminPassword" id="">
        </div>
    </div>
</div>