<!-- main content start -->
<style>
    .dot {
        height: 7px;
        width: 7px;
        background-color: rgb(36, 225, 19);
        border-radius: 50%;
        display: inline-block;
    }

    .dott span {
        color: rgb(36, 225, 19);
        border: .5px solid rgb(36, 225, 19);
        padding: 0;
    }
</style>
<div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Management</li>
            </ol>
        </nav>
        <br>
        {{!-- <div class="welcome-msg pt-3 pb-4">
            <h1>Hi <span class="text-primary">Admin </span>, Welcome back</h1>
        </div> --}}
        <!-- chatting -->
        <div class="data-tables">
            <div class="row">
                <div class="col-lg-12 chart-grid mb-4">
                    <div class="card card_border p-4">
                        <div class="card-header chart-grid__header pl-0 pt-0">
                            THEATRE OWNERS
                        </div>
                        <br>
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Profile Pic</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Date of join</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><img src="/img/img-w3/avatar1.jpg" alt="" style="border-radius:50%;"></td>
                                    <td>Abhijith G S</td>
                                    <td>mr.vishnucp001@gmail.com</td>
                                    <td>2022-10-05</td>
                                    <td><a href="#" class="btn btn-primary">Block</a>&nbsp;<a href="#"
                                            class="btn btn-danger">delete</i></a></td>

                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><img src="/img/img-w3/avatar1.jpg" alt="" style="border-radius:50%;"></td>
                                    <td>Abhijith G S</td>
                                    <td>mr.vishnucp001@gmail.com</td>
                                    <td>2022-10-05</td>
                                    <td><a href="#" class="btn btn-primary">Block</a>&nbsp;<a href="#"
                                            class="btn btn-danger">delete</i></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- //chatting -->


    </div>
    <!-- main content end-->
    </section>
    <!--footer section start-->
    {{!-- <footer class="dashboard">
        <p>&copy 2020 Collective. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank"
                class="text-primary">W3layouts.</a></p>
    </footer> --}}
    <!--footer section end-->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>

    </section>