<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{#if user}}
  <title>User</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{else}}
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/stylesheets/style-starter.css">
  <link rel="stylesheet" href="/stylesheets/style-liberty.css">
  <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap5.min.css">

  {{/if}}
</head>
{{#if adminPage}}

<body>
  <div class="se-pre-con"></div>
  <section>
    {{#if admin}}
    {{>admin-header}}
    {{/if}}
    {{{body}}}

    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };



      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }

    </script>

    <!-- /move top -->


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>

    <script src="/js/jquery.nicescroll.js"></script>
    <!-- chart js -->
    <script src="/js/Chart.min.js"></script>
    <script src="/js/utils.js"></script>
    <!-- //chart js -->

    <!-- Different scripts of charts.  Ex.Barchart, Linechart -->
    <script src="/js/bar.js"></script>
    <script src="/js/linechart.js"></script>
    <!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


    <script src="/js/scripts.js"></script>

    <!-- close script -->
    <script>
      var closebtns = document.getElementsByClassName("close-grid");
      var i;

      for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
          this.parentElement.style.display = 'none';
        });
      }
    </script>
    <!-- //close script -->

    <!-- disable body scroll when navbar is in active -->
    <script>
      $(function () {
        $('.sidebar-menu-collapsed').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- disable body scroll when navbar is in active -->

    <!-- loading-gif Js -->
    <script src="/js/modernizr.js"></script>
    <script>
      $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
      });
    </script>
    <!--// loading-gif Js -->


    {{!--
    <script src="/js/datatable/jquery-3.5.1.js"></script> --}}
    <script src="/js/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="/js/datatable/jquery.dataTables.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#example').DataTable();
      });
    </script>


    {{/if}}

</body>

</html>